<div class="row d-flex justify-content-between">
    <div data-aos="fade-right" class="contenedor-card col-md-12 col-lg-4">
        <div class="card">
            <img data-src="./img/logo-big-chef.svg" class="bigchef bg-white" alt="">
            <img class="card-img-top" data-src="./img/logo-districaribe-logo.png" alt="">
            <div class="card-body">
                <!-- <h4 class="card-title titulo-pie">Lorem, ipsum dolor.</h4> -->
                <p class="card-text descripcion-pie">Somos la empresa #1 distribuidora de los mejores productos para
                    endulzar tus comidas como son nuestra linea de <strong><span>Big Chef</span></strong> . Los
                    restaurantes y puntos de comida rapida nos prefieren por nuestra gran calidad e inmejorable precio.
                </p>
            </div>
        </div>
    </div>
    <div data-aos="zoom-out-down" class="contenedor-empresa col-md-12 col-lg-4">
        <h5 class="titulo-pie">Estamos aqui:</h5>
        <p class="descripcion-pie"><span class="titulo-span">Dirección:</span>Lorem ipsum dolor sit, amet consectetur adipisicing elit.
            Odit, minus.</p>
        <p class="descripcion-pie"><span class="titulo-span">Teléfono:</span> 099837520357345</p>
        <p class="descripcion-pie"><span class="titulo-span">Email:</span> aaaaaaa[@]aaa.com</p>
        <img data-src="./img/mapa.jpeg" loading="lazy" class="img-fluid imagen" alt="">
    </div>
    <div data-aos="zoom-out-left" class="col-md-12 col-lg-4 contenido-contacto">
        <h5 class="titulo-pie">Contáctanos</h5>
        <form action="" class="card formulario-contacto" id="formulario-contacto">
            <div class="card-body cuerpo">
                <div class="form-group" id="div-nombreContacto">
                    <input id="nombreContacto" name="nombreContacto" type="text" class="form-control validar" placeholder="Escriba su nombre">
                </div>
                <div class="form-group" id="div-telefonoContacto">
                    <input id="telefonoContacto" name="telefonoContacto" type="text" class="form-control validar" placeholder="Escriba su telefóno"
                        id="telefono">
                </div>
                <div class="form-group" id="div-correoContacto">
                    <input id="correoContacto" type="email" name="correoContacto" class="form-control validar"
                        placeholder="Escriba su correo electronico" id="email">
                </div>
                <div class="form-group" id="div-mensajeContacto">
                    <textarea id="mensajeContacto" class="form-control validar" name="mensajeContacto"
                        placeholder="Escriba aquí su mensaje para nosotros, queremos tener el placer de poder atenderlo"
                        cols="30" rows="10"></textarea>
                </div>
                <label id="label-enviar" class="label-enviar"></label>
                <button type="submit" id="enviar-datos" class="boton btn">Enviar</button>
            </div>
        </form>
    </div>
</div>
<div class="contenido-marcas">
    <div class="container-fluid estilo">
        <div class="row contenedor-nota col-12">
            <div class="districaribe col-sm-12 col-md-6 col-lg-6 col-xl-6">
                <p class="derechos">@2020</p>
                <img data-src="./img/logo-districaribe-logo.png" class="img-fluid" alt="">
                <p> Todos los derechos reservados</p>
            </div>
            <div class="beg col-sm-12 col-md-6 col-lg-6 col-xl-6">
                <p>Desing by </p>
                <img data-src="./img/beglogo.svg" class="img-fluid" alt="">
            </div>
        </div>
    </div>
</div>