<h2 class="titulo">¿Que puedes preparar con nuestros productos?</h2>
<p class="parrafo">Los productos más comunes por lo cual nuestros clientes prefieren nuestros productos, es porque les
    da un toque espacial a la hora de elaborar sus menús</p>
<div id="galeria" class="photogrid" data-aos="fade-zoom-in" data-aos-easing="ease-in-back">
    <div class="col-sm-12 col-md-4 col-lg-3 white-panel contenedorImagen">
        <a href="./img/1.png"  target="_blank">
            <img data-src="./img/1.png" class="img-fluid" alt="">
        </a>
    </div>
     <div class="col-sm-12 col-md-4 col-lg-3 white-panel contenedorImagen">
        <a href="./img/2.jpg"  target="_blank">
            <img data-src="./img/2.jpg" class="img-fluid" alt="">
        </a>
    </div>
     <div class="col-sm-12 col-md-4 col-lg-3 white-panel contenedorImagen">
        <a href="./img/3.jpg"  target="_blank">
            <img data-src="./img/3.jpg" class="img-fluid" alt="">
        </a>
    </div>
     <div class="col-sm-12 col-md-4 col-lg-3 white-panel contenedorImagen">
        <a href="./img/4.jpg"  target="_blank">
            <img data-src="./img/4.jpg" class="img-fluid" alt="">
        </a>
    </div>
     <div class="col-sm-12 col-md-4 col-lg-3 white-panel contenedorImagen">
        <a href="./img/8.jpg"  target="_blank">
            <img data-src="./img/8.jpg" class="img-fluid" alt="">
        </a>
    </div>
     <div class="col-sm-12 col-md-4 col-lg-3 white-panel contenedorImagen">
        <a href="./img/10.jpg"  target="_blank">
            <img data-src="./img/11.jpg" class="img-fluid" alt="">
        </a>
    </div>
     <div class="col-sm-12 col-md-4 col-lg-3 white-panel contenedorImagen">
        <a href="./img/21.jpg"  target="_blank">
            <img data-src="./img/21.jpg" class="img-fluid" alt="">
        </a>
    </div>
     <div class="col-sm-12 col-md-4 col-lg-3 white-panel contenedorImagen">
        <a href="./img/32.jpg"  target="_blank">
            <img data-src="./img/32.jpg" class="img-fluid" alt="">
        </a>
    </div>
     <div class="col-sm-12 col-md-4 col-lg-3 white-panel contenedorImagen">
        <a href="./img/33.jpg"  target="_blank">
            <img data-src="./img/33.jpg" class="img-fluid" alt="">
        </a>
    </div>
     <div class="col-sm-12 col-md-4 col-lg-3 white-panel contenedorImagen">
        <a href="./img/34.jpg"  target="_blank">
            <img data-src="./img/34.jpg" class="img-fluid" alt="">
        </a>
    </div>
     <div class="col-sm-12 col-md-4 col-lg-3 white-panel contenedorImagen">
        <a href="./img/35.jpg"  target="_blank">
            <img data-src="./img/35.jpg" class="img-fluid" alt="">
        </a>
    </div>
     <div class="col-sm-12 col-md-4 col-lg-3 white-panel contenedorImagen">
        <a href="./img/36.jpeg"  target="_blank">
            <img data-src="./img/36.jpeg" class="img-fluid" alt="">
        </a>
    </div>
     <div class="col-sm-12 col-md-4 col-lg-3 white-panel contenedorImagen">
        <a href="./img/39.jpg"  target="_blank">
            <img data-src="./img/39.jpg" class="img-fluid" alt="">
        </a>
    </div>
     <div class="col-sm-12 col-md-4 col-lg-3 white-panel contenedorImagen">
        <a href="./img/40.jpg"  target="_blank">
            <img data-src="./img/40.jpg" class="img-fluid" alt="">
        </a>
    </div>
     <div class="col-sm-12 col-md-4 col-lg-3 white-panel contenedorImagen">
        <a href="./img/41.jpg"  target="_blank">
            <img data-src="./img/41.jpg" class="img-fluid" alt="">
        </a>
    </div>
     <div class="col-sm-12 col-md-4 col-lg-3 white-panel contenedorImagen">
        <a href="./img/43.jpg"  target="_blank">
            <img data-src="./img/43.jpg" class="img-fluid" alt="">
        </a>
    </div>
     <div class="col-sm-12 col-md-4 col-lg-3 white-panel contenedorImagen">
        <a href="./img/46.jpg"  target="_blank">
            <img data-src="./img/46.jpg" class="img-fluid" alt="">
        </a>
    </div>
     <div class="col-sm-12 col-md-4 col-lg-3 white-panel contenedorImagen">
        <a href="./img/47.jpg"  target="_blank">
            <img data-src="./img/47.jpg" class="img-fluid" alt="">
        </a>
    </div>
     <div class="col-sm-12 col-md-4 col-lg-3 white-panel contenedorImagen">
        <a href="./img/48.jpg"  target="_blank">
            <img data-src="./img/48.jpg" class="img-fluid" alt="">
        </a>
    </div>
     <div class="col-sm-12 col-md-4 col-lg-3 white-panel contenedorImagen">
        <a href="./img/49.jpg"  target="_blank">
            <img data-src="./img/49.jpg" class="img-fluid" alt="">
        </a>
    </div>
     <div class="col-sm-12 col-md-4 col-lg-3 white-panel contenedorImagen">
        <a href="./img/50.jpeg"  target="_blank">
            <img data-src="./img/50.jpeg" class="img-fluid" alt="">
        </a>
    </div>
     <div class="col-sm-12 col-md-4 col-lg-3 white-panel contenedorImagen">
        <a href="./img/10.jpg"  target="_blank">
            <img data-src="./img/10.jpg" class="img-fluid" alt="">
        </a>
    </div>
</div>