
    <nav class="row navbar navbar-expand-lg navbar-light bg-light fixed-top">
        {{!-- <div class="col-4"> --}}
        <div class="container-fluid">
            <a class="navbar-brand logo" href="#">
                <img loading="auto" src="./img/logo-districaribe-logo.png" class="img-fluid imagen-logo" alt="">
            </a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
                aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
        {{!-- </div> --}}
        {{!-- <div class="col-8"> --}}
            <div class="collapse navbar-collapse menu" id="navbarNav">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item">
                        <a class="active link nav-link" href="#home">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="link nav-link" href="#producto">Porque elegirnos</a>
                    </li>
                    <li class="nav-item">
                        <a class="link nav-link" href="#nosotros">Nosotros</a>
                    </li>
                    <li class="nav-item">
                        <a class="link nav-link" href="#galeria">Galeria</a>
                    </li>
                    <li class="nav-item">
                        <a class="link nav-link" href="#recetas">Recetas</a>
                    </li>
                    <li class="nav-item">
                        <a class="link nav-link" href="#pedido">Has tu pedido</a>
                    </li>
                    <li class="nav-item">
                        <a class="link nav-link" href="#footer">Contactanos</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>