<div class="container" id="contenedorNosotros">
    <div class="row">
        <div data-aos="flip-down" class="col-12 d-flex justify-content-center">
            <figure class="imagenes-nosotros">
                <img loading="lazy" class="img-fluid imagen" data-src="./img/mision-vision-valores.png" 
                    alt="la imagen no carga">
            </figure>
        </div>
    </div>
    <article>
        <div data-aos="zoom-out-up" class="contenido-nosotros row">
            <div class="col-sm-12 col-lg-4 contenedor">
                <div class="card mision">
                    <img loading="lazy" class="imagen img-fluid" data-src="./img/mision.png"  alt="">
                    <div class="card-body">
                        <p class="card-text texto-nosotros">En <strong>“DISTRICARIBE S.A.S”.</strong>, trabajamos para
                            la
                            satisfacción del cliente a través de un equipo humano, comprometido, ético
                            y con vocación de servicio, elaborando y proporcionando productos de calidad, de gran
                            variedad y
                            alto valor nutricional;
                            basados en procesos que contribuyen en el bienestar de la sociedad y la rentabilidad de la
                            organización.</p>
                    </div>
                </div>
            </div>

            <div class="col-sm-12 col-lg-4 contenedor">
                <div class="card vision">
                    <img loading="lazy" class="imagen img-fluid" data-src="./img/vision.png"  alt="">
                    <div class="card-body">
                        <p class="card-text texto-nosotros">En <strong>“DISTRICARIBE S.A.S”.</strong> Continuaremos
                            siendo
                            una empresa reconocida, competitiva, confiable a nivel nacional
                            y una de las mejores en la elaboración de productos procesados. Mantendremos el liderazgo en
                            nuestros productos,
                            con la tradicional Marca BIG CHEF. Abarcaremos otros sectores del mercado con el desarrollo
                            de
                            nuevos productos,
                            así mismo aumentando los beneficios económicos. Contaremos con más Distribuidores que
                            ofrezcan
                            servicio que satisfagan
                            la necesidad del cliente y participaremos en los nuevos eventos gastronómicos importantes de
                            Colombia y Latino América.</p>
                    </div>
                </div>
            </div>

            <div class="col-sm-12 col-lg-4 contenedor">
                <div class="card valores">
                    <img loading="lazy" class="imagen img-fluid" data-src="./img/valores.png"  alt="">
                    <div class="card-body">
                        <ul class="lista">
                            <li class="texto-nosotros">Respeto a los clientes</li>
                            <li class="texto-nosotros">Respeto por el Medio Ambiente</li>
                            <li class="texto-nosotros">Excelencia y Calidad</li>
                            <li class="texto-nosotros">Responsabilidad Social</li>
                            <li class="texto-nosotros">La integridad y la seguridad - la seguridad del trabajo refleja
                                nuestro respeto
                                por el activo más preciado de los empleados: la vida.</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </article>
</div>