<div>
    <h2 class="titulo ">¡6 razones porque elegir nuestra línea de productos <strong>Big Chef</strong>!</h2>
</div>
<div class="row d-flex flex-row align-content-center fila">
    <div class="d-sm-none d-lg-block col-lg-2 vacias"></div>
    <div class="producto-datos col-sm-12 col-md-6 col-lg-4" data-aos="fade-up-right">
        <div class="carta heavy">
            <h4 class="titulo-carta"><strong>Big Chef</strong> piensa en ti y tus clientes.</h4>
            <p class="texto-carta">Nuestros productos son muy saludables, nuestros niveles de <strong>grasas, colesterol
                    y sodio</strong>
                son los mas bajos del mercado.</p>
            <div class="icono-div">
                <i class="icono red fas fa-heart"></i>
            </div>
        </div>

    </div>
    <div class="producto-datos col-sm-12 col-md-6 col-lg-4" data-aos="fade-up-left">
        <div class="carta pina">
            <h4 class="titulo-carta">La calidad de <strong>Big Chef</strong> esta <strong>garantizada</strong></h4>
            <p class="texto-carta">Nuestros productos son importados de estados unidos y bajo estrictos procesos de
                regulación,
                porque eres importante para nosotros; ofrecer productos con los mas altos estandares y calidad es
                nuestro deber!
            </p>
            <div class="icono-div">
                <i class="icono facebook far fa-thumbs-up"></i>
            </div>
        </div>

    </div>
    <div class="d-sm-none d-lg-block col-lg-2 vacias"></div>
    <div class="producto-datos col-sm-12 col-md-6 col-lg-4 centro" data-aos="flip-right">
        <div class="carta tomate">
            <h4 class="titulo-carta">Te lo llevamos a tu negocio</h4>
            <p class="texto-carta">Porque sabemos que tu necesitas dedicarle tiempo a tu negocio, <strong>Big
                    Chef</strong> llega hasta la puerta
                de tu empresa</p>
            <div class="icono-div">
                <i class="icono carro fas fa-truck"></i>
            </div>
        </div>

    </div>
    <div class="foto d-sm-flex d-md-none d-lg-flex align-items-center col-sm-12 col-lg-4" data-aos="zoom-in-down">
        <div class="contenedor-imagen d-flex align-items-center">
            <img loading="lazy" class="img-fluid imagen" data-src="./img/logo-big-chef.svg" alt="">
        </div>
    </div>
    <div class="producto-datos col-sm-12 col-md-6 col-lg-4 centro" data-aos="flip-left">
        <div data-aos-easing = "linear" data-aos-duration="1000" class="carta tomate">
            <h4 class="titulo-carta">Conocemos las necesidades de <strong>nuestros clientes</strong>.</h4>
            <p class="texto-carta">Porque sabemos lo que necesitas y como lo necesitas, estamos ahi para crecer contigo
                y ser
                importante para tus clientes</p>
            <div class="icono-div">
                <i class="icono edificio far fa-building"></i>
            </div>
        </div>

    </div>
{{!-- </div> --}}
{{!-- <div class="row fila"> --}}
    <div class="d-sm-none d-lg-block col-lg-2 vacias"></div>
    <div class="producto-datos col-sm-12 col-md-6 col-lg-4" data-aos="flip-up">
        <div class="carta heavy">
            <h4 class="titulo-carta">La relacion calidad - precio </h4>
            <p class="texto-carta">Tenemos el balance perfecto para el exito y un buen producto <strong>Big
                    Chef</strong>, es acsequible
                por su excelente precio y la inmejorable calidad </p>
            <div class="icono-div">
                <i class="icono money far fa-money-bill-alt"></i>
            </div>
        </div>

    </div>
    <div class="producto-datos col-sm-12 col-md-6 col-lg-4" data-aos="zoom-in-up">
        <div class="carta pina">
            <h4 class="titulo-carta">Nuestro equipo de trabajo.</h4>
            <p class="texto-carta">Contamos con personal de cualidades sorprendentes, que quieren crecer junto con
                nosotros y hacer
                aun mas fuerte a <strong>Big Chef</strong> nuestra linea de productos. Trabajamos de la mano siendo
                todos pilares para generar
                la satisfaccion de nuestros clientes</p>
            <div class="icono-div">
                <i class="icono personas fas fa-user-friends"></i>
            </div>
        </div>

    </div>
    <div class="d-sm-none d-lg-block col-lg-2 vacias"></div>
</div>  