$colorPrimario : #00303c;
$colorHover : #97caeb;
$colorHeavy : #d5b842;
$colorPina: #503a11;
$colorTomate : #391813;
$colorMostaza: #e2b60b;
$colorPrimarioRed: 0;
$colorPrimarioGreen: 48;
$colorPrimarioBlue : 60;
$colorHeavyRed: 213;
$colorHeavyGreen: 184;
$colorHeavyBlue : 66;
$slick-dot-color: $colorPrimario;
$slick-dot-size: 60px;
